body{
    margin:0;
}
main{
    margin:0 auto;
    width:402px;
    min-height:874px;

    background-image:url("../images/bg.jpg");
    background-size:cover;
    background-position:center;
}
main .title{
    text-align:center;
    padding-top:120px;
    margin-bottom:198px;
}
main .title p{
    font-size:12px;
    letter-spacing:-0.02em;
}
main.title h1{
    font-size:24px;
    font-weight:600;
    margin-top:8px;
}
main .contents{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:8px;
}
main .contents input,
main .contents button{
    width:300px;
    height:42px;
    border-radius:8px;
}
main .contents #user_birthday{
    border:1px solid #000;
    text-align:center;
}
main .contents #user_birthday:focus{
    outline:none;
    border:1px solid red;
}
main .contents #open_btn{
    border:none;
    background:#222222;
    color:white;
    font-weight:bold;
    cursor:pointer;
}
main #overlay{
    position:fixed;
    inset:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,.6);
    z-index:1000;
}
main .hidden{
    display:none !important;
}
main #content{
    width:320px;
    padding:40px;

    text-align:center;

    border-radius:25px;
    background:rgba(255,255,255,.92);

    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}
main .subtitle{
    font-size:18px;
    font-weight:bold;
}
main .flower{
    margin:20px 0;
}

main #overlay .result{
    font-size:16px;
    line-height:1.6;
}